    <nav class="navbar navbar-expand-sm navbar-light px-2">
        <div class="container-fluid">
            <div style="padding-right: 10%">
                <a class="logo" href="/establishments-list">Palatable</a>
            </div>
            <div class="container-fluid collapse navbar-collapse" id="navbarSupportedContent">
                {{#if search_flag}}  {{!-- Search reviews if already in search reviews page --}}
                    <form action="/search-reviews" method="GET" class="d-flex w-auto" role="search">
                {{else}}
                    <form action="/search-establishments" method="GET" class="d-flex w-auto" role="search">
                {{/if}}
                    <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" required>
                    <button class="btn btn-outline-danger" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg></button>
                </form>       

                {{#if user}}
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/logout">Sign out</a>
                        </li>
                    </ul>

                    <a class="profile-ico ms-1" href="/user-profile-overview" style="color: var(--accent1);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                    </a>
                {{else}}
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/login">Log in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/signup">Sign up</a>
                        </li>
                    </ul>
                {{/if}}
            </div>
    </nav>

