<!--
    S18 Group 9 
    Members: 
        - DOLON, John Michael
        - FETALVERO, Kenshin
        - GABINI, Brian 
        - TUMALAD, Shawne
 -->

<!doctype html>
<html lang="en">

<head>
    <title>Burger King</title>

    <!-- Meta data -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CDNs for Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" type="text/javascript">  </script>

    <!-- links the stylesheet to this html file -->
    <link rel="stylesheet" href="../css/main-style.css">

    <!-- Font Awesome Icon Library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- CDNs for Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>

    <!-- script for js functionality -->
    <script type="text/javascript" src="../js/script.js"></script>

    <!-- navigation bar -->
    <nav class="navbar navbar-expand-sm navbar-light px-2">
        <div class="container-fluid">
            <div style="padding-right: 10%">
                <a class="logo" href="establishments-list.html">Palatable</a>
            </div>

            <div class="container-fluid collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex w-auto" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" required>
                    <a href="search-establishments.html">
                        <button class="btn btn-outline-danger" type="button"><svg xmlns="http://www.w3.org/2000/svg"
                                width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg></button>
                    </a>
                </form>



                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="login.html">Sign out</a>
                    </li>
                </ul>

                <a class="profile-ico ms-1" href="user-profile-overview.html" style="color: var(--accent1);">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                        class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                    </svg>
                </a>
            </div>
    </nav>

    <!-- absolute positioned background header -->
    <img class="establishment-header position-absolute" src="../images/burger-king-header.jpg"
        alt="Establishment Header">

    <div class="container" style="margin-top: 80px">
        <div class="row ">
            <!-- Establishment info -->
            <div class="col">
                <div>
                    <span class="fw-bold fs-1" style="color: white;">Burger King</span>
                    <br>
                    <span class="fs-5" style="color: white;">★★★✩✩ 10 Reviews</span>
                    <br>
                    <span class="fs-5" style="color: white;" A>₱₱₱ - Burgers</span>
                    <br>
                    <span class="fs-5" style="color: white;" A>Open 10 AM - 12 PM</span>
                </div>
            </div>
            <div class="col position-relative d-flex justify-content-end">
                <!-- Image button here -->
                <div>
                    <a href="#">
                        <button class="btn btn-primary" hidden>See all 12 photos</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container pb-4" style="margin-top: 40px; border-color:black; border-style:solid; border-width: 0px 0px 3px 0px;">
        <div class="row">
            <!-- Review Button -->
            <div class="col">
                <button class="btn btn-warning fs-5 " data-bs-toggle="modal" data-bs-target="#write-review-modal">

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>

                    Write a Review
                </button>

                <!-- Modal -->
                <div class="modal fade" id="write-review-modal" tabindex="-1" aria-labelledby="modalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="modalLabel">Write a Review for Burger King</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="" style="max-width: 600px;">
                                    <div class="my-3">
                                        <input id="review-title" class="form-control w-100" type="text"
                                            placeholder="Title" required>
                                    </div>

                                    <div class="border p-3 my-3 rounded">
                                        <div class="container d-flex">
                                            <span class="star-cb-group me-2">
                                                <input type="radio" id="rating-5" name="rating" value="5" />
                                                <label for="rating-5">5</label>

                                                <input type="radio" id="rating-4" name="rating" value="4" />
                                                <label for="rating-4">4</label>

                                                <input type="radio" id="rating-3" name="rating" value="3" />
                                                <label for="rating-3">3</label>

                                                <input type="radio" id="rating-2" name="rating" value="2" />
                                                <label for="rating-2">2</label>

                                                <input type="radio" id="rating-1" name="rating" value="1" />
                                                <label for="rating-1">1</label>

                                                <input type="radio" id="rating-0" name="rating" value="0"
                                                    class="star-cb-clear" checked />
                                                <label for="rating-0">0</label>
                                            </span>
                                            <h6>Select your rating</h6>
                                        </div>


                                        <div class="form-floating">
                                            <textarea class="form-control border-0" id="floatingTextarea2"
                                                style="height: 200px" required></textarea>
                                            <label for="floatingTextarea2">Tell us about your experience!</label>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="formFileMultiple" class="form-label">Attach Photos</label>
                                        <input class="form-control" type="file" id="formFileMultiple" multiple
                                            accept="image/png, image/gif, image/jpeg">
                                    </div>

                                    <input id="submit-review" class="submit-button btn btn-primary" type="button"
                                        style="width: 200px;" value="Post Review" data-bs-dismiss="modal">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal for editing review -->
            <div class="modal fade" id="edit-review-modal" tabindex="-1" aria-labelledby="modalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="edit-modalLabel">Edit Review</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="" style="max-width: 600px;">
                                <div class="my-3">
                                    <input id="edit-review-title" class="form-control w-100" type="text"
                                        placeholder="Title" required>
                                </div>

                                <div class="border p-3 my-3 rounded">
                                    <div class="container d-flex">
                                        <span class="star-cb-group me-2">
                                            <input type="radio" id="edit-rating-5" name="edit-rating" value="5" />
                                            <label for="edit-rating-5">5</label>
                                            <input type="radio" id="edit-rating-4" name="edit-rating" value="4" />
                                            <label for="edit-rating-4">4</label>
                                            <input type="radio" id="edit-rating-3" name="edit-rating" value="3" />
                                            <label for="edit-rating-3">3</label>
                                            <input type="radio" id="edit-rating-2" name="edit-rating" value="2" />
                                            <label for="edit-rating-2">2</label>
                                            <input type="radio" id="edit-rating-1" name="edit-rating" value="1" />
                                            <label for="edit-rating-1">1</label>
                                            <input type="radio" id="edit-rating-0" name="edit-rating" value="0"
                                                class="star-cb-clear" checked />
                                            <label for="edit-rating-0">0</label>
                                        </span>
                                        <h6>Select your rating</h6>
                                    </div>


                                    <div class="form-floating">
                                        <textarea class="form-control border-0" id="edit-floatingTextarea2"
                                            style="height: 200px" required></textarea>
                                        <label for="edit-floatingTextarea2">Tell us about your experience!</label>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="edit-formFileMultiple" class="form-label">Attach Photos</label>
                                    <input class="form-control" type="file" id="edit-formFileMultiple" multiple
                                        accept="image/png, image/gif, image/jpeg">
                                </div>

                                <input id="edit-review-submit" class="submit-button btn btn-primary" type="button"
                                    style="width: 200px;" value="Post Review" data-bs-dismiss="modal">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Establishment Details -->
            <div class="col position-relative d-flex justify-content-end">
                <div style="border: 2px solid rgb(214, 214, 214); padding: 5px 50px 5px 5px;">
                    <p class="fs-5">✆ 0917 977 1014</p>
                    <span class="fs-5" style="color: blue">Directions</span>
                    <br>
                    <span class="fs-5">Taft Avenue</span>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Establishment Map and Hours -->
            <div class="col" style="margin-top: 3%">
                <span class="fw-bold fs-4">Location & Hours</span>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col"> <!--Map here-->
                        <img width="100%" height="100%" src="../images/burger-king-map.png" alt="Establishment Header">
                    </div>
                    <!-- Day-->
                    <div class="col-1">
                        <span class="fs-4">Mon</span>
                        <br>
                        <span class="fs-4">Tue</span>
                        <br>
                        <span class="fs-4">Wed</span>
                        <br>
                        <span class="fs-4">Thu</span>
                        <br>
                        <span class="fs-4">Fri</span>
                        <br>
                        <span class="fs-4">Sat</span>
                        <br>
                        <span class="fs-4">Sun</span>
                    </div>
                    <!-- Hours -->
                    <div class="col">
                        <span class="fs-4">10:00 AM - 10:00 PM</span>
                        <br>
                        <span class="fs-4">10:00 AM - 10:00 PM</span>
                        <br>
                        <span class="fs-4">10:00 AM - 10:00 PM</span>
                        <br>
                        <span class="fs-4">10:00 AM - 10:00 PM</span>
                        <br>
                        <span class="fs-4">10:00 AM - 10:00 PM</span>
                        <br>
                        <span class="fs-4">10:00 AM - 10:00 PM</span>
                        <br>
                        <span class="fs-4">10:00 AM - 10:00 PM</span>
                    </div>
                </div>
            </div>
        </div>
		
		<br>
		
		<!-- Establishment Image Gallery -->
		<span class="fw-bold fs-4">Image Gallery</span>
		<div class="row">
			<!--Menu Images-->
			<div class="col-sm">
				<span class="fw-bold fs-5">Menu</span>
				<div id="carouselExampleIndicators" class="carousel slide mb-3">
				  <div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
					  aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
					  aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
					  aria-label="Slide 3"></button>
				  </div>
				  <div class="carousel-inner" role="listbox">
					<div class="carousel-item active">
					  <img src="https://picsum.photos/1280/720" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
					  <img src="https://picsum.photos/1280/720" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
					  <img src="https://picsum.photos/1280/720" class="d-block w-100" alt="...">
					</div>
				  </div>
				  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
					data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				  </button>
				  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
					data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				  </button>
				</div>
			</div>
			
			<!--Photo Images-->
			<div class="col-sm">
				<span class="fw-bold fs-5">Photos</span>
				<div id="carouselExampleIndicators1" class="carousel slide mb-3">
				  <div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active"
					  aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1"
					  aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2"
					  aria-label="Slide 3"></button>
				  </div>
				  <div class="carousel-inner" role="listbox">
					<div class="carousel-item active">
					  <img src="https://picsum.photos/1280/720" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
					  <img src="https://picsum.photos/1280/720" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
					  <img src="https://picsum.photos/1280/720" class="d-block w-100" alt="...">
					</div>
				  </div>
				  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1"
					data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				  </button>
				  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1"
					data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				  </button>
				</div>
			</div>
		</div>
    </div>
	
    <!-- Reviews section -->
    <!-- Got some of the reviews from here https://www.tripadvisor.com.ph/ShowUserReviews-g298573-d1830574-r504637276-Burger_King-Manila_Metro_Manila_Luzon.html -->

    <div id="" class="container" style="margin-top: 3%">
        <div class="row">

            <!-- Sidebar -->
            <div class="col-md-3">
                <h4>SORT</h4>
                <h5><a style="color: black;" href="#"> Most Upvotes ▽</a></h5>
                <h5><a style="color: black;" href="#"> Rating ☆</a></h5>

            </div>
            <div id="review-container" class="col-md-9">
                <h3 class="mb-3">Reviews</h3>

                <!-- Review #1 -->
                <div class="row mb-5">
                    <div class="col-md-2 mb-3 pt-3">
                        <div class="container">
                            <div class="row mb-3 justify-content-center">
                                <img src="../images/user-pfp/shrek-image.jpg" alt="" style="width: 100px; height: 75px;"
                                    class="rounded-circle">
                            </div>
                            <div class="row justify-content-center text-center">
                                <h6> Ken Adams </h6>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-10">
                        <h6>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            • Reviewed on January 1, 2019
                        </h6>
                        <h4 style="font-weight: 600;"> Whopper!! </h4>
                        <p>My friends and I love burger king!! The fries, whoppers and burgers were delicious and worth
                            it!!
                            You'd never get tired of it!! Its a bit expensive but won't regret it.
                        </p>
                        <div class="review-group">
                            <div class="container d-flex px-2">
                                <p class="mx-2">Was this review helpful to you?</p>
                                <!-- UPVOTE -->
                                <span class="upvote" style="color: var(--accent1);">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
                                        <path
                                            d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z" />
                                    </svg>
                                </span>

                                <!-- DOWNVOTE -->
                                <span class="downvote" style="color: var(--accent1);">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-hand-thumbs-down" viewBox="0 0 16 16">
                                        <path
                                            d="M8.864 15.674c-.956.24-1.843-.484-1.908-1.42-.072-1.05-.23-2.015-.428-2.59-.125-.36-.479-1.012-1.04-1.638-.557-.624-1.282-1.179-2.131-1.41C2.685 8.432 2 7.85 2 7V3c0-.845.682-1.464 1.448-1.546 1.07-.113 1.564-.415 2.068-.723l.048-.029c.272-.166.578-.349.97-.484C6.931.08 7.395 0 8 0h3.5c.937 0 1.599.478 1.934 1.064.164.287.254.607.254.913 0 .152-.023.312-.077.464.201.262.38.577.488.9.11.33.172.762.004 1.15.069.13.12.268.159.403.077.27.113.567.113.856 0 .289-.036.586-.113.856-.035.12-.08.244-.138.363.394.571.418 1.2.234 1.733-.206.592-.682 1.1-1.2 1.272-.847.283-1.803.276-2.516.211a9.877 9.877 0 0 1-.443-.05 9.364 9.364 0 0 1-.062 4.51c-.138.508-.55.848-1.012.964l-.261.065zM11.5 1H8c-.51 0-.863.068-1.14.163-.281.097-.506.229-.776.393l-.04.025c-.555.338-1.198.73-2.49.868-.333.035-.554.29-.554.55V7c0 .255.226.543.62.65 1.095.3 1.977.997 2.614 1.709.635.71 1.064 1.475 1.238 1.977.243.7.407 1.768.482 2.85.025.362.36.595.667.518l.262-.065c.16-.04.258-.144.288-.255a8.34 8.34 0 0 0-.145-4.726.5.5 0 0 1 .595-.643h.003l.014.004.058.013a8.912 8.912 0 0 0 1.036.157c.663.06 1.457.054 2.11-.163.175-.059.45-.301.57-.651.107-.308.087-.67-.266-1.021L12.793 7l.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315l-.353-.354.353-.354c.047-.047.109-.176.005-.488a2.224 2.224 0 0 0-.505-.804l-.353-.354.353-.354c.006-.005.041-.05.041-.17a.866.866 0 0 0-.121-.415C12.4 1.272 12.063 1 11.5 1z" />
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Review #2 -->
                <div class="row mb-5">
                    <div class="col-md-2 mb-3 pt-3">
                        <div class="container">
                            <div class="row mb-3 justify-content-center">
                                <img src="../images/user-pfp/allisonburgers-image.jpg" alt=""
                                    style="width: 100px; height: 75px;" class="rounded-circle">
                            </div>
                            <div class="row justify-content-center text-center">
                                <h6> Allison Burgers </h6>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-10 position-relative">
                        <h6>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>

                            • Reviewed on October 5, 2017
                        </h6>

                        <h4 style="font-weight: 600;"> BK is BK anywhere in the world </h4>
                        <p>Burgers were about the same as in the US. Been years since I I have been at one in the US but
                            about the same. Tasty fresh and flame broiled. Delivery must be difficult as traffic is
                            horrible. Eat in and relax. We did it at 1:30am HAha. cheers!!!</p>
                        <div class="review-group">
                            <div class="container d-flex px-2">
                                <p class="mx-2">Was this review helpful to you?</p>
                                <!-- UPVOTE -->
                                <span class="upvote" style="color: var(--accent1);">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
                                        <path
                                            d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z" />
                                    </svg>
                                </span>

                                <!-- DOWNVOTE -->
                                <span class="downvote" style="color: var(--accent1);">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-hand-thumbs-down" viewBox="0 0 16 16">
                                        <path
                                            d="M8.864 15.674c-.956.24-1.843-.484-1.908-1.42-.072-1.05-.23-2.015-.428-2.59-.125-.36-.479-1.012-1.04-1.638-.557-.624-1.282-1.179-2.131-1.41C2.685 8.432 2 7.85 2 7V3c0-.845.682-1.464 1.448-1.546 1.07-.113 1.564-.415 2.068-.723l.048-.029c.272-.166.578-.349.97-.484C6.931.08 7.395 0 8 0h3.5c.937 0 1.599.478 1.934 1.064.164.287.254.607.254.913 0 .152-.023.312-.077.464.201.262.38.577.488.9.11.33.172.762.004 1.15.069.13.12.268.159.403.077.27.113.567.113.856 0 .289-.036.586-.113.856-.035.12-.08.244-.138.363.394.571.418 1.2.234 1.733-.206.592-.682 1.1-1.2 1.272-.847.283-1.803.276-2.516.211a9.877 9.877 0 0 1-.443-.05 9.364 9.364 0 0 1-.062 4.51c-.138.508-.55.848-1.012.964l-.261.065zM11.5 1H8c-.51 0-.863.068-1.14.163-.281.097-.506.229-.776.393l-.04.025c-.555.338-1.198.73-2.49.868-.333.035-.554.29-.554.55V7c0 .255.226.543.62.65 1.095.3 1.977.997 2.614 1.709.635.71 1.064 1.475 1.238 1.977.243.7.407 1.768.482 2.85.025.362.36.595.667.518l.262-.065c.16-.04.258-.144.288-.255a8.34 8.34 0 0 0-.145-4.726.5.5 0 0 1 .595-.643h.003l.014.004.058.013a8.912 8.912 0 0 0 1.036.157c.663.06 1.457.054 2.11-.163.175-.059.45-.301.57-.651.107-.308.087-.67-.266-1.021L12.793 7l.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315l-.353-.354.353-.354c.047-.047.109-.176.005-.488a2.224 2.224 0 0 0-.505-.804l-.353-.354.353-.354c.006-.005.041-.05.041-.17a.866.866 0 0 0-.121-.415C12.4 1.272 12.063 1 11.5 1z" />
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Review 3 -->
                <div class="row mb-5">
                    <div class="col-md-2 mb-3 pt-3">
                        <div class="container">
                            <div class="row mb-3 justify-content-center">
                                <img src="../images/user-pfp/user3.jpg" alt="" style="width: 100px; height: 75px;"
                                    class="rounded-circle">
                            </div>
                            <div class="row justify-content-center text-center">
                                <h6> Vener Mirta </h6>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-10 position-relative">
                        <h6>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>

                            • Reviewed on May 20, 2019
                        </h6>

                        <h4 style="font-weight: 600;"> Late delivery for 1 hour & 20 mins... </h4>
                        <p>Our phone in order was at 2:40 pm as per record. But the food was delivered at 4:00 pm. The
                            time indicated in the
                            receipt was 3:30 pm. Arnold, the rider, explained to me that they called up at 3:20 pm to
                            inform us that the Hershey's
                            sundae pie was not available. But the point is...it took 40 minutes to inform us.

                            Arnold also reasoned that our request to omit the dressing from one of our ordered
                            sandwiches took them a while.

                        </p>
                        <div class="review-group">
                            <div class="container d-flex px-2">
                                <p class="mx-2">Was this review helpful to you?</p>
                                <!-- UPVOTE -->
                                <span class="upvote" style="color: var(--accent1);">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
                                        <path
                                            d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z" />
                                    </svg>
                                </span>

                                <!-- DOWNVOTE -->
                                <span class="downvote" style="color: var(--accent1);">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-hand-thumbs-down" viewBox="0 0 16 16">
                                        <path
                                            d="M8.864 15.674c-.956.24-1.843-.484-1.908-1.42-.072-1.05-.23-2.015-.428-2.59-.125-.36-.479-1.012-1.04-1.638-.557-.624-1.282-1.179-2.131-1.41C2.685 8.432 2 7.85 2 7V3c0-.845.682-1.464 1.448-1.546 1.07-.113 1.564-.415 2.068-.723l.048-.029c.272-.166.578-.349.97-.484C6.931.08 7.395 0 8 0h3.5c.937 0 1.599.478 1.934 1.064.164.287.254.607.254.913 0 .152-.023.312-.077.464.201.262.38.577.488.9.11.33.172.762.004 1.15.069.13.12.268.159.403.077.27.113.567.113.856 0 .289-.036.586-.113.856-.035.12-.08.244-.138.363.394.571.418 1.2.234 1.733-.206.592-.682 1.1-1.2 1.272-.847.283-1.803.276-2.516.211a9.877 9.877 0 0 1-.443-.05 9.364 9.364 0 0 1-.062 4.51c-.138.508-.55.848-1.012.964l-.261.065zM11.5 1H8c-.51 0-.863.068-1.14.163-.281.097-.506.229-.776.393l-.04.025c-.555.338-1.198.73-2.49.868-.333.035-.554.29-.554.55V7c0 .255.226.543.62.65 1.095.3 1.977.997 2.614 1.709.635.71 1.064 1.475 1.238 1.977.243.7.407 1.768.482 2.85.025.362.36.595.667.518l.262-.065c.16-.04.258-.144.288-.255a8.34 8.34 0 0 0-.145-4.726.5.5 0 0 1 .595-.643h.003l.014.004.058.013a8.912 8.912 0 0 0 1.036.157c.663.06 1.457.054 2.11-.163.175-.059.45-.301.57-.651.107-.308.087-.67-.266-1.021L12.793 7l.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315l-.353-.354.353-.354c.047-.047.109-.176.005-.488a2.224 2.224 0 0 0-.505-.804l-.353-.354.353-.354c.006-.005.041-.05.041-.17a.866.866 0 0 0-.121-.415C12.4 1.272 12.063 1 11.5 1z" />
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Review 4 -->
                <div class="row mb-5">
                    <div class="col-md-2 mb-3 pt-3">
                        <div class="container">
                            <div class="row mb-3 justify-content-center">
                                <img src="../images/user-pfp/user4.jpg" alt="" style="width: 100px; height: 75px;"
                                    class="rounded-circle">
                            </div>
                            <div class="row justify-content-center text-center">
                                <h6> Eren Jaeger </h6>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-10 position-relative">
                        <h6>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>

                            • Reviewed on July 29, 2019
                        </h6>

                        <h4 style="font-weight: 600;"> Burger should be king! </h4>
                        <p>I want my burger to be freshly cooked and the ingredients should be all fresh. Please do not
                            served low quality foods
                            esp Burger King! And always check the expiration dates of your ketchups. I love your
                            burgers! This is my comfort food.
                            Pleaseeee! Tip! Always check your receipts - they offer free items usually!

                        </p>
                        <div class="review-group">
                            <div class="container d-flex px-2">
                                <p class="mx-2">Was this review helpful to you?</p>
                                <!-- UPVOTE -->
                                <span class="upvote" style="color: var(--accent1);">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
                                        <path
                                            d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z" />
                                    </svg>
                                </span>

                                <!-- DOWNVOTE -->
                                <span class="downvote" style="color: var(--accent1);">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-hand-thumbs-down" viewBox="0 0 16 16">
                                        <path
                                            d="M8.864 15.674c-.956.24-1.843-.484-1.908-1.42-.072-1.05-.23-2.015-.428-2.59-.125-.36-.479-1.012-1.04-1.638-.557-.624-1.282-1.179-2.131-1.41C2.685 8.432 2 7.85 2 7V3c0-.845.682-1.464 1.448-1.546 1.07-.113 1.564-.415 2.068-.723l.048-.029c.272-.166.578-.349.97-.484C6.931.08 7.395 0 8 0h3.5c.937 0 1.599.478 1.934 1.064.164.287.254.607.254.913 0 .152-.023.312-.077.464.201.262.38.577.488.9.11.33.172.762.004 1.15.069.13.12.268.159.403.077.27.113.567.113.856 0 .289-.036.586-.113.856-.035.12-.08.244-.138.363.394.571.418 1.2.234 1.733-.206.592-.682 1.1-1.2 1.272-.847.283-1.803.276-2.516.211a9.877 9.877 0 0 1-.443-.05 9.364 9.364 0 0 1-.062 4.51c-.138.508-.55.848-1.012.964l-.261.065zM11.5 1H8c-.51 0-.863.068-1.14.163-.281.097-.506.229-.776.393l-.04.025c-.555.338-1.198.73-2.49.868-.333.035-.554.29-.554.55V7c0 .255.226.543.62.65 1.095.3 1.977.997 2.614 1.709.635.71 1.064 1.475 1.238 1.977.243.7.407 1.768.482 2.85.025.362.36.595.667.518l.262-.065c.16-.04.258-.144.288-.255a8.34 8.34 0 0 0-.145-4.726.5.5 0 0 1 .595-.643h.003l.014.004.058.013a8.912 8.912 0 0 0 1.036.157c.663.06 1.457.054 2.11-.163.175-.059.45-.301.57-.651.107-.308.087-.67-.266-1.021L12.793 7l.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315l-.353-.354.353-.354c.047-.047.109-.176.005-.488a2.224 2.224 0 0 0-.505-.804l-.353-.354.353-.354c.006-.005.041-.05.041-.17a.866.866 0 0 0-.121-.415C12.4 1.272 12.063 1 11.5 1z" />
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Review 5 -->
                <div class="row mb-5">
                    <div class="col-md-2 mb-3 pt-3">
                        <div class="container">
                            <div class="row mb-3 justify-content-center">
                                <img src="../images/user-pfp/user5.jpg" alt="" style="width: 100px; height: 75px;"
                                    class="rounded-circle">
                            </div>
                            <div class="row justify-content-center text-center">
                                <h6> Ryu Hadoken </h6>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-10 position-relative">
                        <h6>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>

                            • Reviewed on November 20, 2020
                        </h6>

                        <h4 style="font-weight: 600;"> Delicious burger </h4>
                        <p>
                            Where big burgers are served. Burger king is the most worth burger I have ever tasted. Their
                            burgers are tender and
                            juicy and the rest of the ingredients are perfectly cooked. Everyone can eat this. I assure
                            you, whooper is the best
                            thing to order.

                        </p>
                        <div class="review-group">
                            <div class="container d-flex px-2">
                                <p class="mx-2">Was this review helpful to you?</p>
                                <!-- UPVOTE -->
                                <span class="upvote" style="color: var(--accent1);">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
                                        <path
                                            d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z" />
                                    </svg>
                                </span>

                                <!-- DOWNVOTE -->
                                <span class="downvote" style="color: var(--accent1);">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-hand-thumbs-down" viewBox="0 0 16 16">
                                        <path
                                            d="M8.864 15.674c-.956.24-1.843-.484-1.908-1.42-.072-1.05-.23-2.015-.428-2.59-.125-.36-.479-1.012-1.04-1.638-.557-.624-1.282-1.179-2.131-1.41C2.685 8.432 2 7.85 2 7V3c0-.845.682-1.464 1.448-1.546 1.07-.113 1.564-.415 2.068-.723l.048-.029c.272-.166.578-.349.97-.484C6.931.08 7.395 0 8 0h3.5c.937 0 1.599.478 1.934 1.064.164.287.254.607.254.913 0 .152-.023.312-.077.464.201.262.38.577.488.9.11.33.172.762.004 1.15.069.13.12.268.159.403.077.27.113.567.113.856 0 .289-.036.586-.113.856-.035.12-.08.244-.138.363.394.571.418 1.2.234 1.733-.206.592-.682 1.1-1.2 1.272-.847.283-1.803.276-2.516.211a9.877 9.877 0 0 1-.443-.05 9.364 9.364 0 0 1-.062 4.51c-.138.508-.55.848-1.012.964l-.261.065zM11.5 1H8c-.51 0-.863.068-1.14.163-.281.097-.506.229-.776.393l-.04.025c-.555.338-1.198.73-2.49.868-.333.035-.554.29-.554.55V7c0 .255.226.543.62.65 1.095.3 1.977.997 2.614 1.709.635.71 1.064 1.475 1.238 1.977.243.7.407 1.768.482 2.85.025.362.36.595.667.518l.262-.065c.16-.04.258-.144.288-.255a8.34 8.34 0 0 0-.145-4.726.5.5 0 0 1 .595-.643h.003l.014.004.058.013a8.912 8.912 0 0 0 1.036.157c.663.06 1.457.054 2.11-.163.175-.059.45-.301.57-.651.107-.308.087-.67-.266-1.021L12.793 7l.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315l-.353-.354.353-.354c.047-.047.109-.176.005-.488a2.224 2.224 0 0 0-.505-.804l-.353-.354.353-.354c.006-.005.041-.05.041-.17a.866.866 0 0 0-.121-.415C12.4 1.272 12.063 1 11.5 1z" />
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>