<!doctype html>
<html lang="en">

<head>
  <title>Main</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  
  <link rel="stylesheet" href="../css/main-style.css">
</head>

<!-- Font Awesome Icon Library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-sm navbar-light px-2">
    <div class="container-fluid">
      <div style="padding-right: 10%">
        <a class="logo" href="/establishments-list">Palatable</a>
      </div>

      <div class="container-fluid collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex w-auto" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" required>
          <a href="/search-establishments">
            <button class="btn btn-outline-danger" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg></button>
          </a>
        </form>



        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/login">Sign out</a>
          </li>
        </ul>

        <a class="profile-ico ms-1" href="/user-profile-overview" style="color: var(--accent1);">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle"
            viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
          </svg>
        </a>
      </div>
  </nav>

  <!-- background header -->
  <img class="establishment-header" src="../images/header.jpg" alt="Establishment Header">

  <div class="container" style="margin-top: 5%">
    <div class="row">

      <!-- Sidebar -->
      <div class="col-md-3">
        <h4>FILTERS</h4>

        <br>

        <div>
          <h4>Rating</h4>
          <span class="star-cb-group me-2">
            <input type="radio" id="rating-5" name="rating" value="5" />
            <label for="rating-5">5</label>

            <input type="radio" id="rating-4" name="rating" value="4" />
            <label for="rating-4">4</label>

            <input type="radio" id="rating-3" name="rating" value="3" />
            <label for="rating-3">3</label>

            <input type="radio" id="rating-2" name="rating" value="2" />
            <label for="rating-2">2</label>

            <input type="radio" id="rating-1" name="rating" value="1" />
            <label for="rating-1">1</label>

            <input type="radio" id="rating-0" name="rating" value="0" class="star-cb-clear" checked />
            <label for="rating-0">0</label>
          </span>
        </div>

        <br>

        
        {{!-- <h4> Price Range </h4>
        <h5>₱</h5>
        <h5>₱₱</h5>
        <h5>₱₱₱</h5>

        <br>

        <h4> Categories </h4>
        <h5><a style="color: black; font-weight: bold;" href="#"> All </a></h5>
        <h5><a style="color: black;" href="#"> Fast Food </a></h5>
        <h5><a style="color: black;" href="#"> American </a></h5>
        <h5><a style="color: black;" href="#"> Chinese </a></h5>
        <h5><a style="color: black;" href="#"> Dessert </a></h5>
        <h5><a style="color: black;" href="#"> Filipino </a></h5>
        <h5><a style="color: black;" href="#"> Italian </a></h5>
        <h5><a style="color: black;" href="#"> Japanese </a></h5>
        <h5><a style="color: black;" href="#"> Korean </a></h5>
        <h5><a style="color: black;" href="#"> Middle Eastern </a></h5>
        <h5><a style="color: black;" href="#"> Milk Tea </a></h5>
        <br>
        <h4>SORT</h4>
        <h5><a style="color: black;" href="#"> Most Upvotes ▽</a></h5>
        <h5><a style="color: black;" href="#"> Most Reviews ☆</a></h5> --}}

        <!-- TODO: Filter and Sort-->
      </div>
      <div class="col-md-9">
        <h3 style="margin-bottom: 20px;"> Establishments </h3>

        <!-- Establishment #1 -->
        <div class="row mb-5">
          <div class="col-md-3 mb-3">
            <img class="img-fluid" src="../images/jj-image.JPG" alt="">
          </div>
          <div class="col-md-9">
            <h3 class="mb-3">Jus and Jerry's</h3>
            <h5 style="font-weight:300; color: var(--primary)">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>

              50 reviews
            </h5>
            <p>Jus & Jerry’s Food Corp. was founded by identical twin brothers Justin and Jeremy as a small
              cafeteria-style back in 2010. Their first store was located along Tolentino St., Manila near UST. A year
              later, they moved to a bigger location in Taft Ave., Manila to cater to more patrons.
            </p>
          </div>
        </div>

        <!-- Establishment #2 -->
        <div class="row mb-5">
          <div class="col-md-3 mb-3">
            <img class="img-fluid" src="../images/jollibee-image.jpg" alt="">
          </div>
          <div class="col-md-9">
            <h3 class="mb-3"> Jollibee </h3>
            <h5 style="font-weight:300; color: var(--primary)">
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>

              40 reviews
            </h5>
            <p> Jollibee's fried chicken - Chickenjoy, spaghetti & burgers made it one of the fastest growing
              restaurants in the world with 1400+ branches globally. People also ask </p>
          </div>
        </div>

        <!-- Establishment #3 -->
        <div class="row mb-5">
          <div class="col-md-3 mb-3">
            <a href="/establishment-page"><img class="img-fluid" src="../images/burger-king.png" alt=""></a>
          </div>
          <div class="col-md-9">
            <h3 class="mb-3"><a href="/establishment-page" style="color: black;">Burger King</a></h3>
            <h5 style="font-weight:300; color: var(--primary)">
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star-o "></span>
              <span class="fa fa-star-o "></span>
              10 reviews
            </h5>
            <p>Founded in 1954, Burger King is the second largest fast food hamburger chain in the world. The original
              Home of the
              Whopper, our commitment to premium ingredients, signature recipes, and family-friendly dining experiences
              is what has
              defined our brand for more than 50 successful years.</p>
          </div>
        </div>

        <!-- Establishment #4 -->
        <div class="row mb-5">
          <div class="col-md-3 mb-3">
            <img class="img-fluid" src="../images/24chicken-image.jpg" alt="">
          </div>
          <div class="col-md-9">
            <h3 class="mb-3">24 Chicken</h3>
            <h5 style="font-weight:300; color: var(--primary)">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star-o"></span>
              50 reviews
            </h5>
            <p>At 24 Chicken, we are obsessed with serving the best possible fried chicken. Serving
              happiness at a budget friendly price since 2017.</p>
          </div>
        </div>

        <!-- Establishment #5 -->
        <div class="row mb-5">
          <div class="col-md-3 mb-3">
            <img class="img-fluid" src="../images/bonchon-image.jpg" alt="">
          </div>
          <div class="col-md-9">
            <h3 class="mb-3"> BonChon </h3>
            <h5 style="font-weight:300; color: var(--primary)">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              40 reviews
            </h5>
            <p> Crunch out loud! We set out to share the joy of hand-battered, double-fried, crazy crispy Korean Fried
              Chicken around the world.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>



</body>

</html>