<!--
    S18 Group 9 
    Members: 
        - DOLON, John Michael
        - FETALVERO, Kenshin
        - GABINI, Brian 
        - TUMALAD, Shawne
 -->

<!doctype html>
<html lang="en">

<head>
  <title>Main Nav</title>

  <!-- Meta data -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CDNs for Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

  <!-- links the stylesheet to this html file -->
  <link rel="stylesheet" href="../css/main-style.css">
</head>

<body>
  <!-- navigation bar -->
  <nav class="navbar navbar-expand-sm navbar-light px-2">
    <div class="container-fluid">
      <div style="padding-right: 10%">
        <a class="logo" href="/establishments-list">Palatable</a>
      </div>

      <div class="container-fluid collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex w-auto" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" required>
          <a href="/search-establishments">
            <button class="btn btn-outline-danger" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg></button>
          </a>
        </form>

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/login">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>

</html>